* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p,
span,
a,
button,
input {
  font-family: cursive;
}
body {
  background-color: #ffffff;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #1d1d1d; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #434242; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
.wrapper {
  /*fondo de menu*/
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 37vw;
  background: #354259;
  transition: all 0.6s ease-in-out;
  z-index: 1;
}
#active:checked ~ .wrapper {
  right: 0;
}
.menu-btn {
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
}
.menu-btn:before {
  transform: translateY(-8px);
}
.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
  transform: scaleX(0);
}
#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li {
  height: 10%;
  margin: 25px 0;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 3vw;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 0;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #faf7e6;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: #354259;
}
input[type="checkbox"] {
  display: none;
}

#active:checked ~ .wrapper ul li a {
  opacity: 1;
}
.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1); /* easeOutBackを緩めた感じ */
  transition-delay: 0.6s;
  transform: translateX(-100px);
}
/*inicio*/
.Principal {
  background-color: #354259;
  display: grid;
  grid-template-areas: "Presentacion Presentacion principal_II";
  min-height: 90vh;
  margin-bottom: 10vh;
}
.Presentacion {
  grid-area: Presentacion;
  color: #ffffff;
  display: block;
  margin: auto;
  width: 100%;
  min-width: 1fr;
}
.Presentacion__1 {
  margin: auto;
  padding: 5px;
}
.Presentacion__1 h1 {
  font-size: 5vw;
  width: 58%;
  margin: auto;
  font-family: initial;
}
.Presentacion__1 p {
  display: block;
  font-size:20px;
  text-align: center;
  width: 80%;
  margin:30px auto 0 auto;
  color: #eeeeee;
}
.Presentacion__2 {
  display: flex;
  justify-content: center;
}
.Presentacion__2 span {
  color: #e9e9e9;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin: 5% 6%;
  width: 20vw;
  text-align: justify;
}

.principal_II {
  grid-area: principal_II;
  background-color: #CDC2AE;
  border-radius: 4px;
}
.principal_II img {
  position: static;
  width: 50%;
  border-radius: 100%;
  z-index: 0;
  transform: translate(-7vw, 22vh);
  border: solid #CDC2AE 0.1vw;
  background-color: #354259;
  transition: 2s all;
}

.container__about,
.container__about a {
  background-color: #D3E4CD;
  color: #373b37;

  min-height: 100vh;
}
.getskillsme {
  display: flex;
  width: 80%;
  margin: auto;
}
.aboutMe {
  text-align: center;
}
.aboutMe h3 {
  font-size: 60px;
  margin: 1%;
  padding-top: 1.2%;
  font-family: initial;
}
.aboutMe p {
  width: 40%;
  margin: auto;
  text-align: justify;
  font-size: 20px;
}
.getMe,
.skillsMe {
  overflow: hidden;
  margin: 1% auto;
}
.getMe {
  width: 45%;
  padding: 10px 30px;
}
.getMe h3,
.skillsMe h3 {
  font-size: 2.6vw;
  margin: 3px 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.getMe p {
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  margin-top: 45px;
}
.skillsMe {
  width: 40%;
  text-align: center;
}

.skillsmeMe {
  min-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(3, 90px);
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
}
.skillsmeMe span {
  background-color: #354259;
  color: #faf7e6;
  font-size: 1vw;
  padding: 15%;
  border-radius: 5%;
  transition: all 1s;
}
.skillsmeMe span:hover {
  background-color: #1d1d1d;
  color: #CDC2AE;
  cursor: pointer;
}
.skillsMe img {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 10%;
  margin: auto 5px;
}

/*proyectos*/
.container__PROJECTS {
  background-color: #ece5c759;
  border-top: #35425954 solid 1px;
}
.container__PROJECTS .title {
  text-align: center;
  font-size: 45px;
  padding: 40px 0 15px 0;
  color: #2b3649;
}
.container__PROJECTS p {
  color: #39423e;
  font-size: 20px;
  width: 60%;
  margin: 1.5vw auto 0 auto;
}
.containerProyests,
.containertwo {
  margin: 0 8vh;
  display: flex;
  align-items: center;
}

.containertwo {
  flex-direction: row-reverse;
}
.pc {
  display: block;
  margin: auto;
  width: 75%;
}
.description {
  width: 100%;
  padding: 0 2vh;
  margin: 0 2vw;
}

.description h4 {
  text-align: center;
  font-size: 40px;
  padding: 5px;
  margin: 20px 0;
  font-weight: 800;
  color: #2a3446;
}

.description span {
  display: block;
  text-align: justify;
  font-size: 20px;
  color: #39423e;
  line-height: 50px;
}

.description a button,
.description a {
  display: block;
  font-size: 22px;
  border: none;
  margin: 0.7vw auto;
  text-decoration: none;
  cursor: auto;
}
.description a button {
  background: #354259;
  cursor: pointer;
  padding: 0.5vw 2vw;
  transition: all 0.5s;
  color: #CDC2AE;
  border: #CDC2AE 0.1vw groove;
  font-weight: 600;
  border-radius: 10px;
}
.description a :hover {
  background: #181818a8;
  color: #faf7e6;
  border: #faf7e6 0.1vw solid;
  box-shadow: 7px 7px 3px -4px #9e9686;
}
